<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.apps.nada.project.dry.clean">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="my.apps.nada.project.dry.clean.activites.activites.afterHome.SelectedDryCleanActivity"
            android:parentActivityName="my.apps.nada.project.dry.clean.activites.activites.afterHome.HomeActivity" />
        <activity
            android:name="my.apps.nada.project.dry.clean.activites.activites.afterHome.FormActivity"
            android:parentActivityName="my.apps.nada.project.dry.clean.activites.activites.afterHome.SelectedDryCleanActivity" />
        <activity android:name="my.apps.nada.project.dry.clean.activites.activites.afterHome.MyOrdersActivity" />
        <activity
            android:name="my.apps.nada.project.dry.clean.activites.activites.afterHome.NotificationsActivity"
            android:parentActivityName="my.apps.nada.project.dry.clean.activites.activites.afterHome.HomeActivity" />
        <activity android:name="my.apps.nada.project.dry.clean.activites.activites.afterHome.LocationActivity" />
        <activity android:name="my.apps.nada.project.dry.clean.activites.activites.relatedToSettings.ContactUsActivity" />
        <activity android:name="my.apps.nada.project.dry.clean.activites.activites.relatedToSettings.AboutUsActivity" />
        <activity
            android:name="my.apps.nada.project.dry.clean.activites.activites.relatedToSettings.CompliantAndSuggestionsActivity"
            android:parentActivityName="my.apps.nada.project.dry.clean.activites.activites.relatedToSettings.SettingsActivity" />
        <activity
            android:name="my.apps.nada.project.dry.clean.activites.activites.relatedToSettings.EditProfileActivity"
            android:parentActivityName="my.apps.nada.project.dry.clean.activites.activites.afterHome.HomeActivity" />
        <activity android:name="my.apps.nada.project.dry.clean.activites.activites.relatedToSettings.ProfileActivity" />
        <activity
            android:name="my.apps.nada.project.dry.clean.activites.activites.relatedToSettings.SettingsActivity"
            android:parentActivityName="my.apps.nada.project.dry.clean.activites.activites.afterHome.HomeActivity" />
        <activity
            android:name="my.apps.nada.project.dry.clean.activites.activites.beforeHome.ChangePasswordActivity"
            android:parentActivityName="my.apps.nada.project.dry.clean.activites.activites.relatedToSettings.SettingsActivity" />
        <activity android:name="my.apps.nada.project.dry.clean.activites.activites.beforeHome.VerficationActivity" />
        <activity
            android:name="my.apps.nada.project.dry.clean.activites.activites.relatedToSettings.ForgetPasswordActivity"
            android:parentActivityName="my.apps.nada.project.dry.clean.activites.activites.beforeHome.SignInActivity" />
        <activity
            android:name="my.apps.nada.project.dry.clean.activites.activites.beforeHome.SignUpActivity"
            android:parentActivityName="my.apps.nada.project.dry.clean.activites.activites.beforeHome.SignInActivity" />
        <activity android:name="my.apps.nada.project.dry.clean.activites.activites.beforeHome.SignInActivity" />
        <activity android:name="my.apps.nada.project.dry.clean.activites.activites.beforeHome.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="my.apps.nada.project.dry.clean.activites.activites.afterHome.HomeActivity" />
    </application>

</manifest>